<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>label</title>
   <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <script src="~/Scripts/bootstrap.js"></script>

</head>
<body class="bodi" style="background-color:lightgray;color:black" >
    
    <nav class="nav navbar-default col-md-12 logo " role="navigation" style="background-color:black">
        <div class="navbar-header ">
            <h1 class="active" style="padding-left:20px ;font-family:Andalus;color:goldenrod"> TrendZone </h1>
        </div>
        <div>
      <ul class="nav navbar-nav pull-right">
        <li>@Html.ActionLink("Home", "Index","Home")</li>
        <li>@Html.ActionLink("About Us", "aboutus","Home")</li>                
          <li>@Html.ActionLink("Contact Us", "contact","Home")</li>        
          <li>@Html.ActionLink("Login", "login","Home")</li>
         <li>@Html.ActionLink("Register", "register","Home")</li>
      </ul>
       </div>
    </nav>
        <div class="collapse navbar-collapse navbar-ex1-collapse afterlogo" style="background-color:goldenrod">
                <ul class="nav navbar-nav ">
                    <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Casual<span class="caret"></span></a>
                <ul class="dropdown-menu" id="menu1">
                    <li>@Html.ActionLink("Hassan Shehriyar Yaseen", "des1","casualDes1")</li>
                    <li>@Html.ActionLink("Maria B", "mariab","casualDes1")</li>

                     <li><a href="#">Fahad Hussayn Couture</a></li>
                       <li><a href="#">Tina Daurani</a></li>
                        <li><a href="#">Sana Safinaz</a></li>


                    </ul>
                        </li>
                    <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Formal<span class="caret"></span></a>
                <ul class="dropdown-menu" id="Ul1">
                    <li>@Html.ActionLink("Ego", "ego","Formal")</li>
                    <li>@Html.ActionLink("Labels", "label","Formal")</li>
                      <li><a href="#">khadii</a></li>
                      <li><a href="#">Outlet</a></li>
                      <li><a href="#">Omer Naeem</a></li>

                    </ul>
                        </li>
                    
                    <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Bridal<span class="caret"></span></a>
                <ul class="dropdown-menu" id="Ul5">
                    <li>@Html.ActionLink("Hassan Shehriyar Yaseen", "hsybridal","Bridal")</li>
                    <li>@Html.ActionLink("Sana Safinaz", "sanasafina","Bridal")</li>
                    <li><a href="hsybridal.html">Fahad Hussayn Couture </a></li>
                      <li><a href="#">Maria B</a></li>
                       <li><a href="#">Tina Daurani</a></li>
                                          <li><a href="#">Omer Naeem</a></li>

                    </ul>
                        </li>
                    
                        <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Shoes<span class="caret"></span></a>
                <ul class="dropdown-menu" id="Ul4">
                    <li>@Html.ActionLink("Heels", "heel","Shoes")</li>
                    <li>@Html.ActionLink("Flat", "flat","Shoes")</li>                    
                      <li><a href="#">Pumps</a></li>
                      <li><a href="#">Wedges</a></li>
                    </ul>
                        </li>
                    <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Accessories<span class="caret"></span></a>
                <ul class="dropdown-menu" id="Ul2">
                    <li>@Html.ActionLink("Earrings", "earrings","Accessories")</li>
                    <li>@Html.ActionLink("Rings", "rings","Accessories")</li>
                      
                    </ul>
                        </li>
                    <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Bags<span class="caret"></span></a>
                <ul class="dropdown-menu" id="Ul3">
                    <li><a href="handbag.html">Handbags</a></li>
                      <li><a href="clutch.html">Clutches</a></li>
                      
                    </ul>
                        </li>
                                  
                    </ul>
    </div>
        <div class="container" style="padding-left:90px;padding-right:90px">
        <!--first row-->
      
        <div class="row ">
        <div class="col-md-12" style="padding-left:50px"> 
            <div class="row col-md-12 product-container ">
            <div class="page-header " style="background-color:#252a2f">
            <h2 style="padding-left:380px">Labels</h2>
          </div>
        </div>
      </div>
                  <div class="center-block col-md-12">

        <div class="col-md-4 col-sm-4 col-xs-6">
          <div class="thumbnail product-item">
            <a href="product_detail.html"><img alt="" src="~/img/l1.jpg"style="height: 400px ;width: 450px" /></a>
            <div class="caption">
              <h5>Block print shirt</h5>
              <p>Rs 4000</p>
                  <div >
                 <button type="submit" class="btn btn-warning">Add to cart</button>
                  </div>            

            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6">
          <div class="thumbnail product-item">
            <a href="product_detail.html"><img alt="" src="~/img/l2.jpg"style="height: 400px ;width: 450px"/></a>
            <div class="caption">
              <h5>Long shirt</h5>
              <p class="product-item-price">Rs 3,000</p>
                <div >
                 <button type="submit" class="btn btn-warning">Add to cart</button>
                  </div>             

            </div>
          </div>
        </div>
         
        <div class="col-md-4 col-sm-4 col-xs-6">
          <div class="thumbnail product-item">
            <a href="product_detail.html"><img alt="" src="~/img/l3.jpg" style="height: 400px ;width: 450px"/></a>
            <div class="caption">
              <h5>Printed shirt</h5>
              <p>Rs 3,000</p>
                  <div >
                 <button type="submit" class="btn btn-warning">Add to cart</button>
                  </div>             

            </div>
          </div>
        </div>
      </div>
                </div>
    
    <br />
            </div>
           <!-- begin:copyright -->
        <div class="col-md-12 copyright">
          <div class="row">
      <div class="row" style=" background-color:black ">
            <div class="col-md-6 col-sm-6 copyright-left" >
              <p style="margin-left:200px ;color:white">Copyright &copy; Clotheshop 2012-2014. All right reserved.</p>
            </div>
            <div class="col-md-6 col-sm-6 copyright-right" >
      <div class="row" style="background-color:black">
              <ul class="list-inline text-center">
                <li><a href="https://www.facebook.com/"><img src="~/img/fb.gif" /></a></li>
              
                <li><a href="https://plus.google.com/"><img src="~/img/Google-Icon.png" /></a></li>
                <li><a href="https://twitter.com/?lang=en"><img src="~/img/twi%20(1).png" /></a></li>
                  
                <li><a href="http://instagram.com/"><img src="~/img/is.gif" /></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
            </div>
      <!-- end:copyright -->
           

</body>
</html>
