@model List<myZone.Models.product>
@{
    Layout = "~/Views/Shared/_HeaderFooter.cshtml";
}

<!-- Table -->
<!-- Content -->
 <nav class="nav navbar-default col-md-12 logo " role="navigation" style="background-color:#252a2f">
        <div class="navbar-header ">
            <h3 class="active" style="padding-left:20px ;color:goldenrod"> Admin Panel </h3>
        </div>
        <div>
      <ul class="nav navbar-nav pull-right">
        <li>@Html.ActionLink("Add Item", "addItem","AdminHome")</li>
        <li>@Html.ActionLink("View All Items", "ViewAll","AdminHome")</li>                
      

      </ul>
       </div>
    </nav>
<body style="color:black">
<br />
			<div id="content" style="color:black">
				
				<!-- Box -->
				<div class="box col-md-10 " style="background-color:white ;margin-left:130px" id="123">
					<!-- Box Head -->
					<div class="box-head" style="background-color:gray">
						<h2 class="left">All Items</h2>
						
					</div>
					<!-- End Box Head -->	

					<div class="table">
						<table style="width:100% ;border:0">
							<tr>
								<th width="13"></th>
								<th>Title</th>
								
                                 <th>Price</th>
                                <td>category</td>
                                <th>Image</th>
                              
								<th width ="110" class="ac">Action</th>
							</tr>
                               @foreach(var c in Model){
							<tr>
								<td></td>
								<td><h3>@c.title</h3></td>
                                <td>@c.price</td>
                                <td>@c.category.name</td>
                                <td><img src="@c.image" style="height:120px;width:90px" /></td>
								<td><a href="/AdminHome/delete/@c.Id">delete</a><a href="/AdminHome/update/@c.Id" style="margin-left:10px">update</a></td>
							</tr>
                               }
							
						</table>
						</div>
                    </div>
                <div class="products-top" id="1234">
                
            </div>
                </div>
  </body>